.header_outer_container {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(20, 20, 20);
  height: 10vh;
  color: white;
  z-index: 1;
}

.header_container {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_left {
  display: flex;
  align-items: center;
  flex: 1; /* Allow header_left to grow */
}

.header_left ul {
  display: flex;
  align-items: center; /* Center items vertically */
  justify-content: center; /* Center items horizontally */
  list-style: none;
  padding: 0;
  margin: 0;
}

.header_left li {
  margin: 0 20px; /* Space between items */
  cursor: pointer;
  font-size: 14px;
}

.header_right {
  display: flex;
  align-items: center;
  margin-left: auto; /* This will move the right side content to the right */
}

.header_right ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.header_right li {
  margin: 0 15px; /* Space between icons */
  cursor: pointer;
}
